@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* root */
:root {
  /* fonts */
  --first-font: "Poppins", Arial, sans-serif;
  --second-font: "Open Sans", Arial, sans-serif;

  /* cores */
  --back-color: hsla(0, 0%, 90%, 100%);
  --back-color-alt: white;
  --first-color: hsla(208, 100%, 28%, 100%);
  --first-color-alt: hsla(208, 100%, 15%, 100%);
  --second-color: hsla(49, 98%, 59%, 100%);
  --second-color-alt: hsla(49, 69%, 48%, 100%);
  --three-color: hsla(200, 100%, 50%, 100%);
  --three-color-alt: hsla(200, 99%, 43%, 100%);

  /* tamanhos */
  --height-size: 5rem;
  --font-size-normal: 0.9rem;
  --font-size-small: 0.7rem;
  --font-size-big: 1.1rem;
  --font-bold: 600;

  /* fixed */
  --zfixed: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--second-font);
  background-color: var(--back-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.section {
  padding-block: 7rem;
}

.grid {
  display: grid;
  grid: 1.5rem;
}

/* scroll */
::-webkit-scrollbar {
  width: 8px;
  background: var(--back-color);
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}

/* pageUp */
.pageUp_button {
  position: fixed;
  display: flex;
  bottom: -4rem;
  right: 2rem;
  padding: 8px 8px 8px 8px;
  font-size: calc(var(--font-size-big) + 0.2rem);
  border: 2px solid;
  border-radius: 0.5rem;
  color: var(--first-color);
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: var(--zfixed);
  transition: 0.4s ease;
}

.pageUp_button:hover i {
  transform: translateY(-0.1rem);
}

.pageUp_button i {
  transition: transform 0.3s ease;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--zfixed);
  background-color: var(--back-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav {
  position: relative;
  height: var(--height-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo,
.nav_close,
.nav_toggle {
  display: flex;
  color: var(--first-color);
}

.nav_logo {
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  color: var(--first-color);
  font-weight: var(--font-bold);
  font-size: var(--font-size-big);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav_logo strong {
  color: var(--first-color-alt);
}

.nav_logo:hover {
  color: var(--first-color-alt);
}

.nav_toggle {
  font-size: calc(var(--font-size-big) + 0.2rem);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav_toggle:hover {
  color: var(--first-color-alt);
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--back-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    padding-block: 2rem;
    transition: top 0.4s ease;
  }
}

.nav_list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav_link {
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: calc(var(--font-size-big) + 0.2rem);
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: var(--font-bold);
  color: var(--first-color-alt);
}

.nav_close:hover {
  color: var(--first-color);
}

.show-menu {
  top: 0;
}

.bg-header {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.show-scroll .pageUp_button {
  bottom: 2rem;
}

.active_link{
    color: var(--first-color);
}

/* main */

/* home */
.home {
  position: relative;
}

.home_container {
  row-gap: 3rem;
  padding-top: 4rem;
}

.home_box_img {
  position: relative;
  justify-self: center;
}

.home_img {
  width: 200px;
  justify-self: center;
}

.home_img_sun {
  position: absolute;
  display: flex;
  width: 80px;
  top: -1rem;
  left: -1rem;
  -webkit-animation: sunRotate 50s linear infinite, sunReveal 1s ease-in-out;
  animation: sunRotate 50s linear infinite, sunReveal 2s ease-in-out;
  opacity: 1;
}

.home_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.home_title {
  font-size: calc(var(--font-size-big) + 0.3rem);
  color: var(--first-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home_title strong {
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
}

.home_desc {
  font-size: var(--font-size-normal);
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
  padding-bottom: 2rem;
}

.home_energy_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: var(--font-size-normal);
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  background-color: var(--second-color);
  border: 2px solid var(--first-color-alt);
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: background 0.4s ease;
  border-radius: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home_energy_button i {
  font-size: calc(var(--font-size-normal) + 0.3rem);
}

.home_energy_button:hover {
  background-color: var(--second-color-alt);
}

/* orçamento */
.budget {
  position: relative;
}

.budget_container {
  row-gap: 1.5rem;
}

.budget_img {
  width: 200px;
  justify-self: center;
}

.budget_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
}

.budget_title {
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  font-size: calc(var(--font-size-big) + 0.3rem);
}

.budget_desc {
  color: var(--first-color-alt);
  font-size: var(--font-size-normal);
  padding-bottom: 1rem;
}

.budget_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--three-color);
  color: var(--first-color-alt);
  outline: none;
  font-weight: var(--font-bold);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid var(--first-color-alt);
  border-radius: 1rem;
  transition: background 0.4s ease;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.budget_submit i {
  font-size: calc(var(--font-size-normal) + 0.3rem);
  transition: transform 0.4s ease;
}

.budget_submit:hover {
  background-color: var(--three-color-alt);
}

.budget_submit:hover i {
  transform: translateX(0.1rem);
}

/* contato */
.contact {
  position: relative;
  background-color: var(--first-color-alt);
  color: var(--back-color);
}

.contact_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact_section_title {
  font-size: calc(var(--font-size-big) + 0.3rem);
  letter-spacing: 1px;
  padding-bottom: 2rem;
}

.contact_text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact_title {
  font-weight: 100;
  font-size: var(--font-size-normal);
}

.contact_title_span {
  color: var(--second-color);
}

.contact_desc {
  font-size: var(--font-size-normal);
  font-style: normal;
}

.contact_desc a {
  color: var(--second-color);
  transition: color 0.3s ease;
}

.contact_desc a i {
  font-size: var(--font-size-big);
}

.contact_desc a:hover {
  color: var(--second-color-alt);
}

.contact_form {
  display: flex;
  flex-direction: column;
  text-align: initial;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  padding: 5px 15px;
  color: var(--first-color-alt);
  min-width: 250px;
}

.contact_form_title {
  font-size: var(--font-size-normal);
  padding: 1rem 0;
  text-align: center;
}

.contact_form_group{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}

.contact_form_group_box{
    display: flex;
    flex-direction: column;
}

.contact_form_label {
  padding: 0.7rem 0 0.2rem;
  font-size: var(--font-size-normal);
  font-weight: var(--font-bold);
}

.contact_form_name,
.contact_form_email {
  padding: 0.8rem 1rem;
  font-size: var(--font-size-normal);
  border: none;
  outline: none;
  color: var(--first-color-alt);
  border-radius: 0.5rem;
}

.contact_form_msg {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem 1rem;
  color: var(--first-color-alt);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  resize: none;
  margin-bottom: 1rem;
}

.contact_form_name,
.contact_form_email,
.contact_form_msg {
  font-weight: var(--font-bold);
  background-color: white;
  transition: background 0.3s ease;
}

.contact_form_name:focus,
.contact_form_email:focus,
.contact_form_msg:focus {
  background-color: var(--back-color);
}

.contact_form_button {
  padding: 0.8rem;
  background-color: white;
  border: 2px solid var(--first-color-alt);
  outline: none;
  border-radius: 0.5rem;
  font-size: var(--font-size-normal);
  font-weight: var(--font-bold);
  color: var(--first-color-alt);
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact_form_button:hover {
  background-color: var(--back-color);
}

.contact_form_button:hover i {
  transform: translateX(0.1rem);
}

.contact_form_button i {
  font-size: var(--font-size-normal);
  transition: transform 0.4s ease;
}

/* footer */
.footer {
  position: relative;
  padding-block: 2rem;
}

.footer_container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer_logo {
  display: flex;
  align-self: flex-start;
  font-size: var(--font-size-normal);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer_nav_list_title,
.footer_address_title {
  font-size: var(--font-size-big);
  color: var(--first-color-alt);
  padding-bottom: 0.5rem;
}

.footer_nav_link,
.footer_address_item {
    display: flex;
    align-items: center;
  font-size: var(--font-size-normal);
  color: var(--first-color);
  transition: color 0.3s ease;
  column-gap: .5rem;
  padding-bottom: .6rem;
}

.footer_nav_link i,
.footer_address_item i{
    font-size: calc(var(--font-size-normal) + .2rem);
}

.footer_nav_link:hover {
  color: var(--first-color-alt);
}

.footer_address {
  font-style: normal;
}

.footer_address_list {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.footer_credit {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer_author {
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
}

.footer_author_link {
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
  letter-spacing: 1px;
}

.footer_credit_span {
  font-size: var(--font-size-normal);
  color: var(--first-color-alt);
  font-weight: var(--font-bold);
}

.footer_credit_link {
  color: var(--first-color);
  font-weight: 100;
  transition: color 0.3s ease;
}

.footer_credit_link:hover {
  color: var(--first-color-alt);
}

/* selection */
/* fundo azul */
.home_title::-moz-selection,
.home_title strong::-moz-selection,
.home_desc::-moz-selection,
.budget_title::-moz-selection,
.budget_desc::-moz-selection,
.contact_form_title::-moz-selection,
.contact_form_label::-moz-selection,
.contact_form_button::-moz-selection,
.contact_form_name::-moz-selection,
.contact_form_email::-moz-selection,
.contact_form_msg::-moz-selection,
.footer_nav_list_title::-moz-selection,
.footer_nav_link::-moz-selection,
.footer_address_title::-moz-selection,
.footer_address_item::-moz-selection,
.footer_author::-moz-selection,
.footer_author_link::-moz-selection,
.footer_credit_span::-moz-selection,
.footer_credit_link::-moz-selection {
  background: var(--first-color-alt);
  color: var(--back-color);
}
.home_title::selection,
.home_title strong::selection,
.home_desc::selection,
.budget_title::selection,
.budget_desc::selection,
.contact_form_title::selection,
.contact_form_label::selection,
.contact_form_button::selection,
.contact_form_name::selection,
.contact_form_email::selection,
.contact_form_msg::selection,
.footer_nav_list_title::selection,
.footer_nav_link::selection,
.footer_address_title::selection,
.footer_address_item::selection,
.footer_author::selection,
.footer_author_link::selection,
.footer_credit_span::selection,
.footer_credit_link::selection {
  background: var(--first-color-alt);
  color: var(--back-color);
}

/* fundo branco */
.contact_section_title::-moz-selection,
.contact_title::-moz-selection,
.contact_desc::-moz-selection,
.contact_desc a::-moz-selection,
.contact_title_span::-moz-selection {
  background: var(--back-color);
  color: var(--first-color-alt);
}
.contact_section_title::selection,
.contact_title::selection,
.contact_desc::selection,
.contact_desc a::selection,
.contact_title_span::selection {
  background: var(--back-color);
  color: var(--first-color-alt);
}

/* animações */
@-webkit-keyframes sunRotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sunRotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sunReveal {
    0%{
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes sunReveal {
    0%{
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* quebras de linha */
@media screen and (min-width: 576px) {
  .footer_nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact_form_group {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .contact_form_group_box {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@media screen and (min-width: 767px) {
  .nav_close,
  .nav_toggle {
    display: none;
  }

  .nav_list {
    flex-direction: row;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }

  .home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }

  .home_img {
    width: 350px;
  }

  .home_img_sun {
    width: 140px;
    top: -3rem;
    left: -1rem;
  }

  .home_text {
    align-items: flex-start;
  }

  .home_title {
    font-size: calc(var(--font-size-big) + 1rem);
  }

  .home_desc {
    font-size: var(--font-size-big);
  }

  .budget_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }

  .budget_img {
    width: 350px;
  }

  .budget_text {
    width: 400px;
    align-items: flex-end;
    text-align: end;
    justify-content: center;
  }

  .budget_title {
    font-size: calc(var(--font-size-big) + 1rem);
  }

  .budget_desc {
    font-size: var(--font-size-big);
  }

  .contact_section_title {
    font-size: calc(var(--font-size-big) + 1rem);
  }

  .contact_title,
  .contact_desc,
  .contact_form_title {
    font-size: var(--font-size-big);
  }

  .contact_form_label,
  .contact_form_button,
  .contact_form_button i {
    font-size: var(--font-size-normal);
    margin: 0.5rem 0 0.2rem;
  }

  .contact_form_button {
    margin-bottom: 1rem;
  }

  .footer_nav_list_title,
  .footer_address_title {
    font-size: var(--font-size-big);
  }

  .footer_nav_link,
  .footer_address_item {
    font-size: var(--font-size-normal);
  }
}

@media screen and (min-width: 1064px) {
  .container {
    margin-inline: auto;
  }

  .home_container,
  .budget_container {
    justify-content: space-around;
  }
}
